input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}
.head .item a {
  margin-right: 10px;
  font-size: 12px;
}
.head .item-download a {
  font-size: 12px;
}
.logo-nav {
  width: 140px;
  height: 35px;
}
.search-bar {
  width: 720px;
}
.recom-item a {
  font-size: 12px;
}
.location {
  position: absolute;
  right: 15px;
  font-size: 13px;
}
.border-test {
  box-shadow: 0px 0px 6px -5px black;
  border-radius: 10px;
}
.nav-kedua {
  box-shadow: 0 5px 6px -6px #222;
}
.image-content img {
  width: 100px;
  height: 100px;
  border: 1px solid #eaeaea;
  cursor: pointer;
}
/* Part 2 */
span {
  cursor: pointer;
}
.carousel .carousel-indicators button {
  border-radius: 100%;
  width: 12px;
  height: 12px;
}
.top-up-item {
  font-family: Tahoma;
  font-weight: bold;
  color: #979797;
}
.top-up-item:hover {
  color: black;
}

.all-items {
  color: rgb(23, 163, 23);
}
.item-bot {
  border-bottom: 2px solid rgb(10, 172, 45);
  color: rgb(29, 188, 29);
  pointer-events: none;
}

.ellipse-vertical {
  border-left: 2px solid #eaeaea;
}
@media only screen and (max-width: 800px) {
  .search-bar {
    width: 100%;
  }
}
